fos_js_routing:
    resource: "@FOSJsRoutingBundle/Resources/config/routing/routing.xml"

#
# Imported routes from admin
#
admin:
    resource: '@SonataAdminBundle/Resources/config/routing/sonata_admin.xml'
    prefix: /gestor

_sonata_admin:
    resource: .
    type: sonata_admin
    prefix: /gestor

admin_core:
    resource: "@AdminCoreBundle/Resources/config/routing.yml"
    prefix: /gestor

admin_login_check:
    path:  /gestor/login_check

admin_logout:
    path: /gestor/logout

core_media_bundle:
    resource: "@ElcodiMediaBundle/Resources/config/routing.yml"

store_bundle:
    resource: "@StoreBundle/Resources/config/routing.yml"
    type: be_simple_i18n