{% for type in sonata_flashmessages_types() %}
    {% set domain = domain is defined ? domain : null %}
    {% for message in sonata_flashmessages_get(type, domain) %}
        <div class="alert alert-{{ type|sonata_status_class }}">
            {{ message|raw }}
        </div>
    {% endfor %}
{% endfor %}