body {
    background-color: #f8f8f8;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a:hover, a:focus {
    text-decoration: none;
}

.no-padding {
    padding: 0 !important;
}

.margin {
    margin: 0 !important;
}

.navbar .navbar-top {
    height: 30px;
    transition: all 0.1s ease-out 0s;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -ms-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    font-size: 11px;
    font-weight: bold;
    line-height: 11px;
    text-transform: uppercase;
}

.navbar-nav > li > a {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

.navbar-nav.list-inline {
    text-align: center;
}

.navbar-nav.list-inline > li {
    display: inline-block;
}

.user-menu li {
    display: block;
    float: left;
}

.user-menu li a {
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    line-height: normal;
    padding: 3px 20px 0 0;
    text-decoration: none;
    transition: opacity 0.2s ease-out 0s;
    -webkit-transition: opacity 0.21s ease-out 0s;
    -moz-transition: opacity 0.2s ease-out 0s;
    -ms-transition: opacity 0.2s ease-out 0s;
    -o-transition: opacity 0.2s ease-out 0s;
}

.navbar-top i {
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding: 3px 0 0;
}

/***  ------- Mega Menu Start ------- ***/
.megamenu .nav, .megamenu .dropup, .megamenu .dropdown, .megamenu .collapse {
    position: static;
}
.megamenu .navbar-inner, .megamenu .container {
    position: relative;
}
.megamenu .dropdown-menu {
    left: auto;
}
.megamenu .dropdown-menu > li {
    display: block;
}
.megamenu .nav.pull-right .dropdown-menu {
    right: 0;
}
.megamenu .megamenu-content {
    padding: 20px 30px;
    *zoom: 1;
}
.megamenu .megamenu-content:before, .megamenu .megamenu-content:after {
    display: table;
    content: "";
    line-height: 0;
}
.megamenu .megamenu-content:after {
    clear: both;
}
.megamenu.navbar .nav > li > .dropdown-menu:after, .megamenu.navbar .nav > li > .dropdown-menu:before {
    display: none;
}
.megamenu .dropdown.megamenu-fullwidth .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
}
.megamenu .dropdown.megamenu-80width .dropdown-menu {
    width: 80%;
    left: 0;
    right: 0;
}
.megamenu .dropdown.megamenu-80width .dropdown-menu {
    width: 80%;
    left: 0;
    right: 0;
}
.megamenu .dropdown.megamenu-50width .dropdown-menu {
    width: 50%;
    left: 0;
    right: 0;
}
.megamenu .dropdown.megamenu-40width .dropdown-menu {
    width: 40%;
    left: 0;
    right: 0;
}
.megamenu .dropdown.megamenu-fullwidth .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
}

.main-container {
    margin-top: 80px;
}

.section-title {
    font-size: 42px;
    font-weight: lighter;
    line-height: 44px;
    margin: 10px 0 20px;
    padding: 0;
    position: relative;
}

.section-title:after {
    background: #DDD;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 1;
}

.section-title span {
    color: #2c3e50;
    display: inline-block;
    text-transform: uppercase;
    width: auto;
    background: #f8f8f8;
    padding: 10px;
    position: relative;
    z-index: 2;
}

.thumbnail {
    border-radius: 0;
    border: none;
    padding: 0;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
    border-color: #222;
}

.product-grid {
    position: relative;
    border-bottom: 1px solid #ccc;
}

.product-grid .price {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-weight: bold;
}

.product-listing,
.product-listing a {
    color: #000;
}

.sale .regular-price {
    color: #c0c0c0;
    text-decoration: line-through;
}

.sale .reduced-price {
    color: #ff0000;
    margin-left: 5px;
}

.h3 {
    text-transform: uppercase;
    font-weight: lighter;
}

.product-record {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Small screen / tablet */
@media (min-width: 768px) {
    .user-menu li a {
        padding-top: 0;
        line-height: 30px;
    }

    .section-title:after {
        width: 70%;
        margin-left: 15%;
    }

    .product-grid {
        min-height: 450px;
    }

    .product-record {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

/* Medium screen / desktop */
@media (min-width: 992px) {
    .megamenu .dropdown.megamenu-fullwidth .dropdown-menu {
        width: auto;
    }

    .megamenu .megamenu-content {
        padding-left: 0;
        padding-right: 0;
    }

    .megamenu .dropdown-menu > li > ul {
        display: block;
    }

    .product-grid {
        min-height: 420px;
    }

    .product-record {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

/* Large screen / wide desktop */
@media (min-width: 1200px) {

}